[submodule "TrProtocol"]
	path = TrProtocol
	url = git@github.com:chi-rei-den/TrProtocol.git
[submodule "Sora"]
	path = Sora
	url = git@github.com:DeepOceanSoft/Sora
[submodule "PCRApi"]
	path = PCRApi
	url = git@github.com:cc004/PCRApi
[submodule "GoWasmWrapper"]
	path = GoWasmWrapper
	url = git@github.com:cc004/GoWasmWrapper.git
